@tailwind base;
@tailwind components;
@tailwind utilities;

/* ==================== Global Rules ==================== */

:root {
  --hover-color: #ff2d2d;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

* {
  font-family: "Poppins", sans-serif;
  /* font-family: "Roboto", sans-serif; */
  /* font-family: "Playfair Display", serif; */
}

.custom-hover-effect {
  transition: transform 0.4s ease-in-out;
}

.custom-hover-effect:hover {
  transform: scale(0.95);
  color: var(--hover-color);
}

.active {
  color: var(--hover-color);
  background-color: rgb(100 116 139 / 0.3);
}
.active-Sub {
  color: yellow;
}

.submenu-wrapper {
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  max-height: 0; /* Initially hidden */
}

.submenu-wrapper.open {
  max-height: 500px; /* Adjust to a reasonable maximum, or use 'auto' for unrestricted height */
}

/* Spinner Loader  */
.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #eee;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

textarea {
  resize: vertical; /* Allow only vertical resizing */
}
